*,
*:before,
*:after {
    box-sizing: border-box;
}

.header {
    text-transform: uppercase;
    font-weight: 400;
    font-stretch: expanded;
}

footer{
    background-color: #141e28;
    height: 3rem;
    align-content: center;
    text-align: center;
}

footer p{
    padding: 1rem;
}


body {
    padding: 0;
    margin: 0;
    background-image: url(/cropped-black-chrome-gradient-ui-gradient-background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.profile{
    
}

.profile_icon img{
    filter:invert(1);
    height: 1.8rem;
    margin: 0;
    margin-right: 1rem;
    display: flex;
}

.profile_icon img:hover{
    height: 1.9rem;
}

.singOut{
    display: flex;
}



#app {
    font-family: Arial, Helvetica, sans-serif;
    color: #eee
}

.nav {
    background-color: #2c3e50;
    display: flexbox;
    flex-direction: row;
    text-align: center;
    padding: 1rem;
}

.nav_links a {
    text-decoration: none;
    color: #eee;
    padding-left: 1rem;
}

.nav_links a:hover {
    text-shadow: 1px 1px 20px black, 0 0 1em #eee, 0 0 0.2em #eee;
    font-weight: 600;
    font-size: 1rem;
}

.videogame {
    color: #eee;
    padding: 2rem;
}

.novedades {
    display: grid;
    column-gap: normal;
    flex-direction: row;
    margin: 1rem;
    text-align: start;
    display: block;
    flex-direction: row;
    text-decoration: none;
    color: #eee;
    align-items: center;
    text-align: center;
    overflow: hidden;
}


.novedades h1 {
    padding-bottom: 1rem;
}


.novedades h2 {
    color: #eee;
    text-decoration: none;
}

.novedades img {
    height: 10rem;
    transition: transform .5s ease;
}

.novedades img:hover {
    opacity: 65%;
    transform: scale(1.1);
}

/***********Tienda***********/

.tienda {
    width: 70%;
    background-color: #2c3e50;
    display: inline-flex;
    justify-content: flex-start;
    column-gap: 1rem;
    align-items: center;
    align-self: center;
    margin: 1rem;
    text-align: start;
    display: block;
    flex-direction: row;
}
.tienda_content{
    display: flex;
    column-gap: 20px;
}
.tienda a {
    text-decoration: none;
    color: #eee;
}

.tienda a:hover {
    text-shadow: 1px 1px 20px black, 0 0 1em #eee, 0 0 0.2em #eee;
    font-weight: 600;
    font-size: 1rem;
}

.tienda p {
    font-size: 1rem;
}

.tienda ul {
    list-style-type: none;
    display: inline-flex;
    padding-left: 0;
    margin: 0;
    column-gap: 1rem;
}

.tienda li {
    color:#a4a4a4;
    flex: none;
}

.tienda h3 {
    align-items: center;
    align-self: center;
    width: max-content;
}

.tienda img {
    height: 6rem;
    margin: 0;
    padding: 0;
    width: fit-content;
}

.tienda img:hover {
    filter: brightness(120%);
    transform: scale(1.1);
    transition: 0.4s;
}

.tienda_router {
    display: inline-flex;
}

/***********Login***********/

.form {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.form h2 {
    font-size: 28px;
    margin: 20px 0 20px 0;
    font-weight: normal;
}

form {
    border: 0.5rem solid #21303f;
    border-radius: 13px;
    padding: 30px;
    background: #2c3e50;
}

.form-group {
    margin-bottom: 20px;
}

label {
    text-align: start;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #e5e5e5;
    font-size: 16px;
    color: #333;
}

.checkbox label {
    font-weight: normal;
}

.checkbox {
    display: flex;
    vertical-align: middle;
}

button[type="submit"] {
    background-color: #68ad5c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #328b32;
}

.form-links {
    margin-top: 20px;
}

.form-links a {
    margin-right: 10px;
    color: #a9a9a9;
    text-decoration: none;
}

.form-links a:hover {
    color: #333;
}

/*******Register********/

.form {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.form h2 {
    font-size: 28px;
    margin: 20px 0 20px 0;
    font-weight: normal;
}

form {
    border: 0.5rem solid #21303f;
    border-radius: 13px;
    padding: 30px;
    background: #2c3e50;
}

.form-group {
    margin-bottom: 20px;
}

label {
    text-align: start;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="email"],
input[type="username"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #e5e5e5;
    font-size: 16px;
    color: #333;
}

.checkbox label {
    font-weight: normal;
}

.checkbox {
    display: flex;
    vertical-align: middle;

}

button[type="submit"] {
    background-color: #68ad5c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #328b32;
}

.form-links {
    margin-top: 20px;
}

.form-links a {
    margin-right: 10px;
    color: #a9a9a9;
    text-decoration: none;
}

.form-links a:hover {
    color: #333;
}

.form {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.form h2 {
    font-size: 28px;
    margin: 20px 0 20px 0;
    font-weight: normal;
}

form {
    border: 0.5rem solid #21303f;
    border-radius: 13px;
    padding: 30px;
    background: #2c3e50;
}

.form-group {
    margin-bottom: 20px;
}

label {
    text-align: start;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="email"],
input[type="username"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #e5e5e5;
    font-size: 16px;
    color: #333;
}

.checkbox label {
    font-weight: normal;
}

.checkbox {
    display: flex;
    vertical-align: middle;

}

button[type="submit"] {
    background-color: #68ad5c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #328b32;
}

.form-links {
    margin-top: 20px;
}

.form-links a {
    margin-right: 10px;
    color: #a9a9a9;
    text-decoration: none;
}

.form-links a:hover {
    color: #333;
}

/*******Tienda********/

.tienda:first-child{
    margin-top: 0;
}
.tienda {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-right: 1rem;
}

.tienda_main {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
}

.tienda_aside {
    display: grid;
}

section {
    display: block;
}

.videogame_price {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.videogame_price button {
    background: linear-gradient(to right, #679a20 5%, #477015 95%);
    border-width: 0;
    border-radius: 0.3rem;
    margin-right: 0.1rem;
    font-weight: 600;
    height: 2rem;
    color: #eee;
    cursor: pointer;
    flex: none;
}

.videogame_price button:hover {
    background: linear-gradient(to right, #89c536 5%, #6fad23 95%);
}

/*******Filter********/
.filters{

}

.filters__ul {
    display: flex;
    flex-direction: column;
}

.filters__li {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    cursor: pointer;
}

.filters__li label:hover{
    text-shadow: 1px 1px 20px black, 0 0 1em #eee, 0 0 0.2em #eee;
    cursor: pointer;
}

.filters__p{
    font-weight: 600;
    font-size: 1rem;
}
label {
    margin-bottom: 0;
}

/*******Carrito********/

.aside_carrito {
    display: flex;
    align-content: center;
    align-items: center;
    width: 15rem;
    margin: 0;
    border-radius: 1rem;
    flex-direction: column;
    margin-right: 5rem;
    background: linear-gradient(to bottom, #3e6285 8%, #2c3e50 50%);
    height:fit-content;
    padding-bottom: 1rem;
}

.aside_carrito h1 {
    margin: 2; 
}

.aside_carrito p {
    margin: 1rem; 
}

.aside_carrito ul{
    list-style: none;
    padding-left: 0;
}

.aside_carrito li{
    flex: none;
    text-align: left;
}

.aside_carrito .checkout{
    background: linear-gradient(to right, #679a20 5%, #477015 95%);
    border-width: 0;
    border-radius: 0.3rem;
    margin-right: 0.1rem;
    font-weight: 600;
    height: 2rem;
    color: #eee;
    cursor: pointer;
    flex: none;
    margin: auto;
    text-align: center;
    
}




/************CHECKOUT****************/
.checkout{
    display: flex;
    flex-direction: column;
}

.checkout_videogame{
    width: 60%;
    background-color: #2c3e50;
    display: inline-flex;
    justify-content:space-between;
    column-gap: 0.2rem;
    align-items: center;
    align-self: center;
    margin: 0.2rem;
    margin-left: 2rem;
    text-align: start;
    flex-direction: row;
    text-align: end;
}

.checkout_buttons{
    display: flex;
    height: auto;
    align-items: center;
}

.checkout_buttons button{
    background: linear-gradient(to right, #9a2020 5%, #701515 95%);
    border-width: 0;
    border-radius: 0;
    margin-right: 0;
    width: 8rem;
    font-weight: 600;
    height: 5rem;
    color: #eee;
    cursor: pointer;
    flex: none;  
}

.checkout_buttons button:hover{
    background: linear-gradient(to right, #bb3232 5%, #991d1d 95%);
}

.checkout_videogame img{
    height: 5rem;
    margin: 0;
    padding: 0;
}

.checkout_buy{
    width: 20%;
    height: 3rem;
    background-color: #172739;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.checkout_buy button{
    background: linear-gradient(to right, #679a20 5%, #477015 95%);
    border-width: 0;
    border-radius: 0.3rem;
    margin-right: 0.1rem;
    font-weight: 600;
    height: 2rem;
    width: 5rem;
    color: #eee;
    cursor: pointer;
    flex: none;
    vertical-align: middle;
}