.biblioteca__main{
    display: block;
    padding: 2rem;
}

.biblioteca{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
}

.biblioteca__games{
    display: flex;
    flex-direction: column;
}

.biblioteca__games:hover{
    filter: brightness(20%);
    cursor: pointer;
}

.biblioteca__router{
    display: flex;
    text-align: center;
    justify-content: center;
    position: absolute;
}

.biblioteca__games img{
    width: 90%;
    background-color: #223344d7;
}