.novedades {
    display: grid;
    column-gap: normal;
    flex-direction: row;
    margin: 1rem;
    text-align: start;
    display: block;
    flex-direction: row;
    text-decoration: none;
    color: #eee;
    align-items: center;
    text-align: center;
    overflow: hidden;
}


.novedades h1 {
    padding-bottom: 1rem;
}


.novedades h2 {
    color: #eee;
    text-decoration: none;
}

.novedades img {
    height: 10rem;
    transition: transform .5s ease;
}

.novedades img:hover {
    opacity: 65%;
    transform: scale(1.1);
}