.form {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.form h2 {
    font-size: 28px;
    margin: 20px 0 20px 0;
    font-weight: normal;
}

form {
    border: 0.5rem solid #21303f;
    border-radius: 13px;
    padding: 30px;
    background: #2c3e50;
}

.form-group {
    margin-bottom: 20px;
}

label {
    text-align: start;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="email"],
input[type="username"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #e5e5e5;
    font-size: 16px;
    color: #333;
}

.checkbox label {
    font-weight: normal;
}

.checkbox {
    display: flex;
    vertical-align: middle;

}

button[type="submit"] {
    background-color: #68ad5c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #328b32;
}

.form-links {
    margin-top: 20px;
}

.form-links a {
    margin-right: 10px;
    color: #a9a9a9;
    text-decoration: none;
}

.form-links a:hover {
    color: #333;
}

.form {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.form h2 {
    font-size: 28px;
    margin: 20px 0 20px 0;
    font-weight: normal;
}

form {
    border: 0.5rem solid #21303f;
    border-radius: 13px;
    padding: 30px;
    background: #2c3e50;
}

.form-group {
    margin-bottom: 20px;
}

label {
    text-align: start;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="email"],
input[type="username"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #e5e5e5;
    font-size: 16px;
    color: #333;
}

.checkbox label {
    font-weight: normal;
}

.checkbox {
    display: flex;
    vertical-align: middle;

}

button[type="submit"] {
    background-color: #68ad5c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #328b32;
}

.form-links {
    margin-top: 20px;
}

.form-links a {
    margin-right: 10px;
    color: #a9a9a9;
    text-decoration: none;
}

.form-links a:hover {
    color: #333;
}