.videogame__section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.videogame__section h1{
    align-self: flex-start;
    margin-bottom: 0.8rem;
    font-size: 1.5rem;
}


.videogame__article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    width: 70%;
}

.videogame__content{
    display: flex;
    flex-direction: row;
    column-gap:1rem;
}

.videogame__carousel{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35rem;
}

.videogame__carousel video{
    display: flex;
    width: 100%;
    align-self: flex-start;
}

.videogame__images{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.videogame__images img{
   width: fit-content;
}

.videogame__cover{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 30%;
}

.videogame__cover p{
    margin-top: 1rem;
    width:fit-content;
    font-size: 1rem;
}

.videogame__cover img{
    width: fit-content;
    align-self: flex-start;
}